* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #bb9457;
    --secondary: #1b1b1b;
    --light: #d6d6d6;
    --dark: #111;
    --text: #fff;
}

html,
body {
    scrollbar-color: var(--primary), var(--dark);
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--dark);
    color: var(--text);
    overflow-x: hidden;
}

.popup-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.popup-section.active {
    opacity: 1;
    visibility: visible;
}

.popup-box {
    width: 90%;
    max-width: 420px;
    background: var(--text);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    animation: popup 0.5s ease;
    position: relative;
}

@keyframes popup {
    from {
        transform: translateY(-40px) scale(0.8);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.popup-top {
    background: #3b2417;
    padding: 40px 20px;
    color: var(--text);
}

.popup-top i {
    font-size: 60px;
    margin-bottom: 15px;
    color: var(--primary);
}

.popup-top h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.popup-top p {
    font-size: 16px;
    opacity: 0.9;
}

.popup-content {
    padding: 30px 25px;
}

.popup-content h2 {
    color: #3b2417;
    margin-bottom: 15px;
    font-size: 28px;
}

.popup-btn {
    display: inline-block;
    padding: 14px 30px;
    background: var(--primary);
    color: var(--text);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.popup-btn:hover {
    background: var(--primary);
    transform: scale(1.05);
    color: var(--white);
}

.popup-content p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 22px;
    color: var(--white);
    cursor: pointer;
}

.navbar {
    background: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(10px);
}

span {
    color: var(--primary);
}


.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #1b1b1b, #2d1f16);
    padding: 60px 0;
    overflow: hidden;
}

.hero h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}

.hero h1 span {
    color: var(--primary);
}

.hero p {
    color: var(--light);
    margin: 25px 0;
    font-size: 17px;
    line-height: 1.8;
}

.hero-btn {
    background: var(--primary);
    color: var(--text);
    padding: 14px 35px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    transition: 0.3s;
}

.hero-btn:hover {
    background: var(--text);
    color: var(--dark);
}

.hero-img {
    text-align: center;
}

.hero-img img {
    width: 100%;
    max-width: 500px;
    animation: float 4s ease-in-out infinite;
}

.about-section {
    background: var(--secondary);
    overflow: hidden;
}

.about-img img {
    animation: float 4s ease-in-out infinite;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* display: inline-block; */
    width: 100%;
}

.section-title h2 span {
    color: var(--primary);
}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
}

.section-title p {
    color: var(--light);
    margin-top: 10px;
    font-size: 16px;
}

.about-content p {
    margin-bottom: 20px;
    line-height: 1.8;
}

.about-info {
    display: flex;
    gap: 40px;
    /* background: var(--primary); */
    padding: 30px;
    border-radius: 10px;
}

.info-box {
    text-align: center;
    background: var(--primary);
    padding: 20px 30px;
    border-radius: 10px;
}

.info-box h3 {
    font-size: 30px;
    font-weight: 700;
}

.info-box span {
    color: var(--text);
    font-size: 14px;
    text-transform: uppercase;
}

.menu-section {
    background: var(--dark);
    overflow: hidden;
}

.menu-card {
    background: var(--secondary);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    height: 100%;
    border: 2px solid transparent;
}

.menu-card:hover {
    transform: translateY(-10px);
    border-color: var(--primary);
}

.menu-img {
    overflow: hidden;
}

.menu-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.menu-card:hover img {
    transform: scale(1.08);
}

.menu-content {
    padding: 20px;
}

.menu-content h3 {
    font-size: 22px;
    font-weight: 600;
}

.menu-content span {
    color: var(--primary);
    font-size: 18px;
    font-weight: 700;
}

.menu-content p {
    margin: 15px 0;
    line-height: 1.6;
    color: var(--light);
}

.menu-btn {
    background: var(--primary);
    color: var(--text);
    padding: 10px 25px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    transition: 0.3s;
}

.menu-btn:hover {
    background: var(--text);
    color: var(--dark);
}

.reviews {
    background: var(--secondary);
    overflow: hidden;
}

.review-card {
    background: var(--dark);
    padding: 30px 25px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.review-card:hover {
    border-color: var(--primary);
    transform: translateY(-8px);
}

.review-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.review-user h4 {
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: 600;
}

.review-user span {
    color: var(--primary);
    font-size: 14px;
}

.review-desc {
    color: var(--light);
    line-height: 1.8;
    margin: 25px 0 20px;
}

.stars {
    color: var(--primary);
    font-size: 22px;
    letter-spacing: 3px;
}

.footer {
    background: var(--dark);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@media(max-width:992px) {

    .hero {
        text-align: center;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero-img {
        margin-top: 50px;
    }

    .about-content h2 {
        font-size: 36px;

    }

    .about-info {
        flex-direction: column;
        text-align: center;
    }
}

@media(max-width:768px) {

    .hero h1 {
        font-size: 34px;
    }

    .hero p {
        font-size: 15px;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .info-box {
        width: 100%;
    }

    .menu-content h3 {
        font-size: 18px;
    }

    .review-card {
        padding: 25px 20px;
    }

    .review-user h4 {
        font-size: 18px;
    }
}